.urlcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  //   padding: 5px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  cursor: default;
  background-color: rgba(226, 226, 226, 0.781);
  margin-bottom: 10px;

  & > * {
    margin: 0;
    padding: 14px;
  }
}
.long-url {
  max-width: 50%;
}
.short-url {
  display: flex;
  align-items: center;

  &:hover {
    color: blue;
    transition: 0.2s ease;
  }
}
